---
import BackToPrevious from "@/components/BackToPrevious.astro";
import Container from "@/components/Container.astro";
import WrappedGameControlView from "@/components/WrappedGameControlView.astro";
import Layout from "@/layouts/Layout.astro";
import type { Session } from "@auth/core/types";
import { Auth } from "auth-astro/components"

const {gameId} = Astro.params

---


<Layout title={`${gameId} gameboard`} description={`the gameboard view of the game session ${gameId}`}>
    <Container>
        <div class="animate">
            <BackToPrevious href={`/game/${gameId}/`}>Back to lobby</BackToPrevious>
        </div>
        {(gameId !== undefined) && <Auth>
            {(session: Session) => 
                (session ? <div>
                    <WrappedGameControlView gameId={gameId}/>
                </div> : <div>
                    You need to Login as one of the players
                </div>)
            }
        </Auth>}
    </Container>
</Layout>

