---
import WrappedGameView from "@/components/WrappedGameView.astro";
import BackToPrevious from "@/components/BackToPrevious.astro";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";

const {gameId} = Astro.params

---
<Layout title={`${gameId} gameboard`} description={`the gameboard view of the game session ${gameId}`}>
    <Container>
        <div class="animate">
            <BackToPrevious href={`/game/${gameId}/`}>Back to lobby</BackToPrevious>
        </div>
        {(gameId !== undefined) && <WrappedGameView client:load gameId={gameId}/>}
    </Container>
</Layout>

